################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestedGildedRose/bin/Debug/net8.0
/TestedGildedRose/obj
